@media (min-width: 320px) {
    header {
        width: 100%;
        background-color: #34393d;
        height: 37px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Montserrat, sans-serif;

    }

    header div:first-child {
        margin-left: 20px;
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        line-height: 26px;
    }

    .nav_menu {
        height: 37px;
        width: 41px;
        background-color: #202529;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-bars, .fa-times {
        color: #ffffff;
        font-size: 30px;
        cursor: pointer;
    }

    .fa-times {
        display: none;
    }

    .nav_menu:hover .nav {
        display: block;
    }

    .nav_menu:hover .fa-times {
        display: block;
    }

    .nav_menu:hover .fa-bars {
        display: none;
    }

    .nav {
        position: absolute;
        right: 0;
        top: 37px;
        background-color: #fafafa;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
        display: none;

    }

    .nav ul {
        padding: 0;
        margin: 0;
        display: grid;
        line-height: 29px;
        width: 182px;
        height: 161px;
    }

    .nav li {
        padding-left: 12px;
        border: 1px solid #e1e1e1;
        list-style: none;
    }

    .nav li:hover {
        background-color: #f5f5f5;
    }

    .nav li a {
        text-transform: uppercase;
        text-decoration: none;
        color: #444444;
        font-family: Lato, sans-serif;
        font-size: 12px;
        font-weight: 400;
    }

    .logo {
        display: none;
    }

    .masterBlock {
        height: 175px;
        background: url("../images/header-fon.png");
        background-size: 100%;

    }

    .masterBlock h1 {
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        padding: 10px 0 6px 20px;
        line-height: 25px;

    }

    .masterBlock a {
        font-family: Lato sans-serif;
        color: #a6d6e0;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        padding-left: 20px;
    }

    .onePart {
        border-top: 4px solid #ffffff;
        height: 75px;
        background: url("../images/Pizza delivery fon.png") -70px -230px no-repeat;
        background-size: 100%;
    }

    .twoPart {

        border-top: 3px solid #ffffff;
        height: 75px;
        background: url("../images/UA_UX Salads fon.png") -10px -230px no-repeat;
        background-size: 100%;
    }

    .threePart {

        border-top: 3px solid #ffffff;
        height: 75px;
        background: url("../images/Desserts fon.png") -25px -50px no-repeat;
        background-size: 100%;
    }

    .oneBlock p {
        font-family: Lato, sans-serif;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        flex: 8 2 100%;

    }

    .onePart, .twoPart, .threePart {
        display: flex;
        justify-content: right;
        text-align: center;

    }

    .arrow {
        background-color: #add9ae;
        color: #ffffff;
        margin: 0;
        height: 75px;
        width: 25%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .arrow p {
        cursor: pointer;
    }

    #twoBlockStart {
        display: flex;
        justify-content: space-between;
    }

    .twoBlockHeader {
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
        margin: 26px 0 0 10px;

    }

    .twoBlockText {
        font-family: Lato, sans-serif;
        color: #cbcdce;
        font-size: 10px;
        font-weight: 400;
        text-align: left;
        margin: 4px 0 10px 10px;
    }

    .menuLogo {
        margin-right: 35px;
        display: none;
    }

    .price {

    }

    .priceHeader {
        background-color: #3d3e41;

        padding-left: 20px;
        height: 37px;
        font-family: Lato, sans-serif;
        color: #acd9ad;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
        display: flex;
        align-items: center;
    }

    .priceHeaderTwo {
        margin-top: 29px;
        background-color: #add9ae;
        color: white;
    }

    .priceTextBlock {
        margin: 0 20px;

    }

    .priceOnePart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 18px;
    }

    .twoBlock .price .caption {
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 15px;
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
        margin: 0;
        line-height: 25px;
    }

    .imgH1 {
        width: 25px;
        height: 25px;

    }

    .priceTwoPart {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .product {
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        margin-bottom: 9px;
    }

    .product:before {
        content: ' \00B7';
        margin: 0 5px 0 0;
    }

    .value {
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 14px;
        font-weight: 700;
        text-align: right;
        margin-bottom: 9px;

    }

    .productDescription {
        font-family: Lato, sans-serif;
        color: #3f4043;
        font-size: 9px;
        font-weight: 400;
        text-align: justify;
        margin: 0;
    }

    .imgH2 {
        height: 24px;
        width: 13px;
    }

    .imgH3 {
        width: 30px;
        height: 21px;
    }

    .imgH4 {
        width: 21px;
        height: 20px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        background-color: #add9ae;
        margin: 48px 0 20px 0;

    }

    .footerLogo {
        display: none;
    }

    footer div {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    footer div p {
        font-family: Montserrat, sans-serif;
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin: 0;

    }

}

@media (min-width: 640px) {
    header {
        height: 74px;
    }

    header div:first-child {
        font-size: 24px;
        margin-left: 38px;
    }

    .nav_menu {
        width: 82px;
        height: 74px;
    }

    .nav {
        top: 74px;
    }

    .nav ul {
        width: 243px;
        height: 214px;
        line-height: 39px;
    }

    .masterBlock {
        height: 346px;
    }

    .masterBlock h1 {
        font-size: 36px;
        line-height: 38px;
        padding: 30px 0 22px 38px;
    }

    .masterBlock a {
        font-size: 24px;
        padding-left: 38px;
    }

    .oneBlock p {
        font-size: 36px;
        line-height: 75px;
    }

    .onePart, .twoPart, .threePart {
        height: 150px;

    }

    .onePart {
        background-position: -80px -380px;
        border-top: 6px solid #ffffff;
    }

    .twoPart {
        background-position: -30px -330px;
    }

    .twoBlockHeader {
        font-size: 40px;
        margin: 45px 0 0 21px;
    }

    .twoBlockText {
        font-size: 20px;
        margin: 9px 0 20px 21px;
    }

    .arrow {
        height: 150px;
    }

    .priceHeader {
        height: 75px;
        font-size: 40px;
        padding-left: 38px;

    }

    .priceTextBlock {
        margin: 0 39px;
    }

    .twoBlock .price .caption {
        font-size: 30px;
        line-height: 50px;
    }

    .imgH1 {
        width: 49px;
        height: 48px;
    }

    .imgH2 {
        width: 27px;
        height: 48px;
    }

    .imgH3 {
        width: 61px;
        height: 42px;
    }

    .imgH4 {
        width: 43px;
        height: 42px;
    }

    .product, .value {
        font-size: 27px;
        margin-top: 20px;

    }

    .productDescription {
        font-size: 18px;
    }
    footer{
        height: 97px;
        margin: 117px 0 50px 0;
    }
    footer div p{
        font-size: 18px;
        line-height: 26px;
    }
}

@media (min-width: 980px) {
    .fa-bars, .fa-times {
        display: none;
    }

    header div:first-child {
        display: none;
    }

    header {
        height: 97px;
    }

    .nav {
        box-shadow: none;
        top: 0;
        left: 0;
        display: block;
        background-color: #34393d;
        width: 80%;
    }

    .nav ul {
        display: flex;
        height: 97px;
        width: 100%;
        align-items: center;
    }

    .nav li {
        padding-left: 30px;
        border: none;
    }

    .nav li:hover {
        background-color: #373c3f;
    }

    .nav li a {
        font-family: Montserrat, sans-serif;
        color: #ececec;
        font-size: 15px;
    }

    .logo {
        display: block;
        float: right;
        margin-right: 30px;
    }

    .masterBlock {
        height: 530px;
        background: url("../images/header-fon.png");
        background-size: 100%;
    }

    .masterBlock h1 {
        font-size: 54px;
        padding: 55px 0 57px 30px;
        line-height: 64px;
    }

    .masterBlock a {
        font-size: 34px;
        padding-left: 30px;
    }

    .oneBlock {
        display: flex;
        justify-content: stretch;
        align-items: stretch;

    }

    .onePart, .twoPart, .threePart {
        height: 327px;
        width: 100%;
        background-position: center;
        background-size: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 6px solid #ffffff;

    }

    .arrow {
        display: none;
    }

    .oneBlock p {
        font-size: 38px;
    }

    .menuLogo {
        display: block;
        width: 109px;
        height: 89px;
        margin-top: 60px;
    }

    .twoBlockHeader {
        font-size: 34px;
        margin: 72px 0 0 30px;
    }

    .twoBlockText {
        font-size: 20px;
        margin: 10px 0 21px 30px;
    }

    #menuOpen {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .priceHeaderTwo {
        margin-top: 0;
    }

    .priceHeader {
        height: 75px;
        font-size: 34px;
    }

    .twoBlock .price .caption {
        font-size: 26px;
        line-height: 45px;
    }

    .priceOnePart {
        margin-top: 41px;

    }

    .imgH1 {
        width: 42px;
        height: 42px;

    }

    .product, .value {
        font-size: 24px;
        margin-top: 30px;
    }

    .productDescription {
        font-size: 16px;
    }

    .imgH2 {
        width: 25px;
        height: 44px;
    }

    .imgH3 {
        width: 56px;
        height: 39px;
    }

    .imgH4 {
        width: 40px;
        height: 39px;
    }

    footer {
        height: 97px;
        justify-content: space-between;
        margin: 84px 0 35px 0;

    }

    .footerLogo {
        display: block;
        margin-left: 30px;
    }

    footer div {
        flex-direction: row;
        margin-right: 30px;
    }

    footer div p {
        font-size: 18px;;
    }
}
@media (min-width: 1200px) {
    .nav li{
        padding-left: 37px;
    }
    .logo{
        margin-right: 38px;
    }
    .masterBlock{
        height: 649px;
    }
    .masterBlock h1{
        font-size: 62px;
        padding: 58px 0 53px 37px;
    }
    .masterBlock a{
        font-size: 38px;
        padding-left: 37px;
    }
    .onePart, .twoPart, .threePart{

        height: 400px;
    }
    .oneBlock p {
        font-size: 43px;
    }
    .twoBlockHeader {
        font-size: 40px;
        margin: 77px 0 0 22px;
    }
    .twoBlockText {
               margin: 9px 0 16px 24px;
    }
    .priceHeader {
              font-size: 40px;
    }
    .caption {
        font-size: 30px;
    }
    .imgH1{
        width: 49px;
        height: 48px;
    }
    .imgH2{
        width: 27px;
        height: 48px;
    }
    .imgH3{
        width: 61px;
        height: 42px;
    }
    .imgH4{
        width: 43px;
        height: 42px;
    }
    .product, .value {
        font-size: 27px;
        margin-top: 36px;
    }
    .productDescription {
        font-size: 18px;
    }
    footer div {
        margin-right: 38px;
    }
}